<div class="row">
  <div class="col-8">
    <div class="card">
      <div class="card-header bg-success">Parent Category List</div>
      <div class="card-body">
        <div class="row">
          <div class="col-12">
            <table class="table table-bordered text-center">
              <thead>
                <tr>
                  <th>SL NO</th>
                  <th>Category Name</th>
                  <th>Department Name</th>
                  <th>Action</th>
                </tr>
              </thead>
              <tbody>
                @for(item of gridList; track $index){
                  <tr>
                    <td>{{ $index + 1 }}</td>
                    <td>{{ item.categoryName }}</td>
                    <td></td>
                    <td class="text-center">
                      <button (click)="onEdit(item)" class="btn btn-primary">
                        Edit
                      </button>
                      <button class="btn btn-danger mx-2" (click)="onDelete(item.categoryId)">Delete</button>
                    </td>
                  </tr>
                  }
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-4">
    <div class="card">
      <div class="card-header bg-success">New Category</div>
      <div class="card-body">
        <div class="row">
          <div class="col-12">
            <label for="">Category Name</label>
            <input
              [(ngModel)]="newObj.categoryName"
              type="text"
              name=""
              id=""
              class="form-control"
            />
          </div>

          <div class="col-12">
            <label for="">Department</label>
            <select [(ngModel)]="newObj.deptId" class="form-select">
              <option value="">Select Dept</option>
              @for (item of deptList; track $index) {
              <option [value]="item.deptId">{{ item.deptName }}</option>
              }
            </select>
          </div>
        </div>
        <div class="row pt-3">
          <div class="col-4 text-center">
            <div class="btn btn-secondary">Reset</div>
          </div>
          <div class="col-6 text-center">
            @if(this.newObj.categoryId == 0){
            <button class="btn btn-success" (click)="save()">Save Dept</button>
            }@else {
            <button class="btn btn-success" (click)="update()">
              Update Dept
            </button>
            }
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
